---
import BaseLayout from "../../layouts/BaseLayout.astro";

const tags = [
  "astro",
  "ブログ",
  "公開学習",
  "成功",
  "つまずき",
  "コミュニティ",
];
---

<BaseLayout pageTitle={"タグインデックス"}>
  <div class="flex flex-wrap">
    {
      tags.map((tag) => (
        <p class="m-1 border border-dotted border-[#a1a1a1] rounded-lg px-4 py-2 text-lg bg-[#f8fcfd]">
          <a href={`/tags/${tag}`} class="text-[#00539f]">{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
