---

---

<button
  aria-expanded="false"
  aria-controls="main-menu"
  class="menu md:hidden bg-[#0d0950] text-white text-xl font-bold px-2.5 py-1.5 border-none dark:bg-white dark:text-black"
>
  Menu
</button>
