---

---

<div id="main-menu" class="hidden w-full m-0 md:block md:ml-20 md:w-auto">
  <a href="/" class="block text-center py-2.5 px-0 md:inline-block md:py-[15px] md:px-5 no-underline text-xl font-bold uppercase text-[#0d0950] hover:bg-[#ff9776] dark:text-white dark:hover:text-[#0d0950]">ホーム</a>
  <a href="/about/" class="block text-center py-2.5 px-0 md:inline-block md:py-[15px] md:px-5 no-underline text-xl font-bold uppercase text-[#0d0950] hover:bg-[#ff9776] dark:text-white dark:hover:text-[#0d0950]">概要</a>
  <a href="/blog/" class="block text-center py-2.5 px-0 md:inline-block md:py-[15px] md:px-5 no-underline text-xl font-bold uppercase text-[#0d0950] hover:bg-[#ff9776] dark:text-white dark:hover:text-[#0d0950]">ブログ</a>
  <a href="/tags/" class="block text-center py-2.5 px-0 md:inline-block md:py-[15px] md:px-5 no-underline text-xl font-bold uppercase text-[#0d0950] hover:bg-[#ff9776] dark:text-white dark:hover:text-[#0d0950]">タグ</a>
</div>
