---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>著者: {frontmatter.author}（{frontmatter.pubDate}に投稿）</p>
  <slot />
</BaseLayout>
